{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script type="text/javascript" src="{% static 'index.js' %}"></script>

    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <div id="input-form">
            {% for input_form in formset%}
                <div class="input-class">
                    <p class='input-class' > {{ input_form.as_p }}</p>
                </div>
            {% endfor %}
        </div>

            <hr>
            <button type="submit" name="input">Input</input>
            <button type="button" id="buttonAddForm" >Add a new field</button>
            <button type="button" id="buttonDelForm">Delete a field</button>
        </form>

    <div id='empty-input' class='hidden'>{{formset.empty_form}}</div>

    <script>
        addForm();
        deleteForm();
    </script>
{% endblock content %}
